body{
    background: #281331;
}

div{
    width: 5px;
    height: 5px;
    background: #ffff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform-origin: 0 0;
    transform: translateY(-50%);
    border-radius: 50%;
    animation: rotate 270s infinite linear;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}